<div class="app">
  <!-- Main elementi burada div gibi düşünülebilir.-->
  <!-- Sadece burada sayfanın ana bölümü olduğunu belirtiyor.-->
  <main class="todo">
    <header>
      <div class="todo-header">
        <button mat-icon-button class="list-btn" (click)="editHeader()">
          <mat-icon>list</mat-icon>
        </button>
        <span *ngIf="!todoHeaderEditStatus; else inputHeaderBlock">{{todoHeader}}</span>
        <ng-template #inputHeaderBlock>
          <input matInput class="header-input" [(ngModel)] = "todoHeader" placeholder="Başlığı Düzenle">
        </ng-template>
        
      </div>
    </header>
    <!--Görev Ekle Starts-->
    <div class="todo-add">
      <div class="list-card-item">
        <div class="add-box">
          <button mat-icon-button (click)="addTodo()">
            <mat-icon class="add-btn">add</mat-icon>
          </button>
          <input matInput class="add-input" [(ngModel)] = "todoItem" placeholder="Görev Ekleyin" value="">
        </div>
      </div>
    </div>
    <!--Görev Ekle Ends-->
    <!--Görevler Starts-->
    <div class="todo-list">
      <div *ngFor="let todo of todoList; index as i;" class="list-card-item">
        <div class="list-box">
          <div class="add-todo">
            <span *ngIf ="!editStatus[i]; else elseBlock" >{{todo}}</span>
            <ng-template #elseBlock>
              <button mat-icon-button class="edit-btn" (click)="editTodo(i)">
                <mat-icon>cached</mat-icon>
              </button>
              <input matInput class="add-input" [(ngModel)] = "editedTodoItem" placeholder="Düzenle" value="{{todoList[i]}}">
            </ng-template>
          </div>
          <div>
            <button mat-icon-button class="completed-btn" (click)="addToCompletedTodo(i)">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click) = "toggleEditStatus(i)">
              <mat-icon class="edit-btn">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="removeTodotoRemovedTodo(i)">
              <mat-icon class="remove-btn">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Görevler Ends-->
    <!--Biten Görevler Starts-->
    <div *ngIf="todoCompletedList.length" class="todo-completed">
      <span>Tamamlandı</span>
    </div>
    <div *ngFor="let todoCompleted of todoCompletedList; index as i;" class="list-card-item" >
      <div class="list-box">
        <div>
          <span>{{todoCompleted}}</span>
        </div>
        <div>
          <button mat-icon-button (click)="undoRemoveCompleted(i)">
            <mat-icon class="undo-btn">undo</mat-icon>
          </button>
          <button mat-icon-button (click)="removeCompletedTodotoRemovedTodo(i)">
            <mat-icon class="remove-btn">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!--Biten Görevler Ends-->
    <!--Kaldıralan Görevler Starts-->
    <div *ngIf="todoRemovedList.length" class="todo-removed">
      <span>Kaldırıldı</span>
    </div>
    <div *ngFor="let todoRemoved of todoRemovedList; index as i;" class="list-card-item">
      <div class="list-box">
        <div>
          <span>{{todoRemoved}}</span>
        </div>
        <div>
          <button mat-icon-button (click)="undoRemove(i)">
            <mat-icon class="undo-btn">undo</mat-icon>
          </button>
          <button mat-icon-button (click)="removeRemovedTodo(i)">
            <mat-icon class="remove-btn">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!--Kaldıralan Görevler Ends-->
  </main>
</div>
<router-outlet></router-outlet>