<header class="sidebar header-container" #menu>
    <nav class="navbar">
        <div class="menu-bar">
            <button mat-icon-button (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
        </div>
        <div class="menu-items">
            <ul>
                <li>
                    <a href="">
                        <mat-icon>calendar_today</mat-icon>
                        <span>Günüm</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <mat-icon>star</mat-icon>
                        <span>Önemli</span>
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="todo-list-items">
            <ul>
                <li>
                    <a href="">
                        <mat-icon>list</mat-icon>
                        <span>Günüm</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>